*{
       font-family: "Lato", sans-serif;
       margin: 0;
       padding: 0;
       
}
.about{
   text-align: left;
/* width: 340px; */
   margin: 0 auto;
   margin-top: 20px;

}
h5{
    color: #FF8500;
    font-size: 14px;
    font-weight: 400;
}
/* h2{
    color: #2d385e;
    font-size: 20px;
    
} */
p{
    color: #656565;
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
    font-weight: 400;
}
button{
    background-color:#FF8500 ;
    padding: 10px;
    border:0 ;
    border-radius: 5px;
    margin-top: 20px;
    width: 150px;
    height: 45px;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
}
.tittle{
    text-align: center;
}
.abou{
    background-color:rgb(223, 222, 222) ;
    margin-top: 90px;
}
.main{
   paddi-top: 90px;
}