*{
    margin: 0;
    padding: 0;
}
.nameaddres{
   
    padding: 10px 0;
    /* margin: 10px 0; */
    border-bottom: 1px solid #f1f1f1;
   
    
}
.name{
    font-size: 20px;
    font-weight: 600;
    color: #282341;
}
.namead{
    /* background-color: azure; */
}